<a href="https://colab.research.google.com/github/Aidin12/crud_node/blob/master/twint.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('drive')

In [ ]:
#run to fix ERROR CRITICAL:root:twint.run:Twint:Feed:noDataExpecting
#!pip3 uninstall twint
#!pip3 install --user --upgrade git+https://github.com/twintproject/twint.git@origin/master#egg=twint

In [ ]:
!pip install twint
! pip install -qq nest_asyncio
#!pip install -qq whatthelang

     |████████████████████████████████| 788kB 12.2MB/s
     |████████████████████████████████| 102kB 14.6MB/s
     |████████████████████████████████| 245kB 50.4MB/s
  Building wheel for whatthelang (setup.py) ... done
  Building wheel for cysignals (setup.py) ... done
  Building wheel for pyfasttext (setup.py) ... done

In [ ]:
import twint
import pandas
import nest_asyncio
nest_asyncio.apply()

In [ ]:
c = twint.Config()
c.Store_object = True
c.Pandas =True
c.Search = "$CLOV"
#c.Limit = 20000
c.Since = "2020-09-01"
c.Until = "2021-01-20"
c.Lang = 'en'

In [ ]:
twint.run.Search(c)

In [ ]:
twint.storage.panda.Tweets_df.tail()

                        id      conversation_id  ...  trans_src trans_dest
19529  1331626291204911106  1331626291204911106  ...
19530  1331615381459439616  1331615381459439616  ...
19531  1331615292708040704  1331615292708040704  ...
19532  1331612648794800129  1331612648794800129  ...
19533  1331586038377091073  1331586038377091073  ...

[5 rows x 38 columns]

In [ ]:
twint.storage.panda.Tweets_df.count()

id                 19534
conversation_id    19534
created_at         19534
date               19534
timezone           19534
place              19534
tweet              19534
language           19534
hashtags           19534
cashtags           19534
user_id            19534
user_id_str        19534
username           19534
name               19534
day                19534
hour               19534
link               19534
urls               19534
photos             19534
video              19534
thumbnail          19534
retweet            19534
nlikes             19534
nreplies           19534
nretweets          19534
quote_url          19534
search             19534
near               19534
geo                19534
source             19534
user_rt_id         19534
user_rt            19534
retweet_id         19534
reply_to           19534
retweet_date       19534
translate          19534
trans_src          19534
trans_dest         19534
dtype: int64

In [ ]:
twint.storage.panda.Tweets_df.to_csv('CLOV.csv')
!cp CLOV.csv "drive/My Drive/"

In [ ]:
c=twint.Config()
c.Store_object = True
c.Pandas = True
c.Username ="Stocktwits"
c.Custom["tweet"] = ["id"]
c.Limit = 30000
#c.Since = "2020-11-01"
#c.Until = "2021-01-20"
c.Lang = 'en'